@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-200;
  }

  .dark body {
    @apply bg-black text-gray-100;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.8);
}